@model WebTAManga.Models.Story

<div class="container">
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Tiêu đề</dt>
        <dd class="col-sm-9">@Model.Title</dd>
        <dt class="col-sm-3">Tác giả</dt>
        <dd class="col-sm-9">@Model.Author</dd>
        <dt class="col-sm-3">Mô tả</dt>
        <dd class="col-sm-9">@Html.Raw(Model.Description)</dd>
        <dt class="col-sm-3">Ngày tạo</dt>
        <dd class="col-sm-9">@(Model.CreatedAt.HasValue ? Model.CreatedAt.Value.ToString("dd/MM/yyyy") : "N/A")</dd>
        <dt class="col-sm-3">Tổng số chương</dt>
        <dd class="col-sm-9">@(Model.Chapters?.Count ?? 0)</dd>
        <dt class="col-sm-3">Ảnh bìa</dt>
        <dd class="col-sm-9">
            <img src="~/@Model.CoverImage" alt="Ảnh bìa" class="img-thumbnail" style="max-width: 100px;" />
        </dd>
    </dl>
</div>