<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebTAManga</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WebTAManga.styles.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/style/style.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js">
    <link rel="stylesheet" href="~/style/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/app.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/chapter.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/common.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/story.js" asp-append-version="true" />

    <!-- Font Awesome cho biểu tượng -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   

</head>
<body>
    <header class="header d-none d-lg-block">
        <!-- place navbar here -->
        <nav class="navbar navbar-expand-lg navbar-dark header__navbar p-md-0">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="./assets/images/logo_text.png" alt="Logo Suu Truyen" srcset="" class="img-fluid"
                         style="width: 200px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Thể loại
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li><a class="dropdown-item" href="category.html">NgônTình</a></li>
                                <li>
                                    <a class="dropdown-item" href="category.html">
                                        Trọng
                                        Sinh
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">Cổ Đại</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">
                                        Tiên
                                        Hiệp
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">Ngược</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">Khác</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">Dị Giới</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">
                                        Huyền
                                        Huyễn
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">
                                        Xuyên
                                        Không
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">Sủng</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">Cung Đấu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="category.html">Gia Đấu</a>
                                </li>
                            </ul>
                        </li>
                      
                        <!-- User-specific links -->
                        @if (Context.Session.GetString("usersLogin") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Profile" asp-route-customerId="@Context.Session.GetInt32("UsersId")">Thông tin cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Favorites" asp-action="FavoriteList" asp-route-customerId="@Context.Session.GetInt32("UsersId")">Favorites</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Followed" asp-action="FollowedStories" asp-route-customerId="@Context.Session.GetInt32("UsersId")">Follows</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PayOs" asp-action="Index" asp-route-customerId="@Context.Session.GetInt32("UsersId")">Nạp xu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="TetEvent" asp-action="TetTreeShake" asp-route-customerId="@Context.Session.GetInt32("UsersId")">Nạp xu</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Login" asp-action="Index" asp-route-customerId="@Context.Session.GetInt32("UsersId")">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Create">Đăng ký</a>
                            </li>
                        }
                    </ul>

                    <form class="d-flex header__form-search" action="" method="GET">
                        <input class="form-control search-story" type="text" placeholder="Tìm kiếm" name="key_word" value="" autocomplete="off">
                        <div class="col-12 search-result shadow no-result">
                            <div class="card text-white bg-light">
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush">
                                        <!-- Gợi ý sẽ được thêm vào đây bởi jQuery UI -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button class="btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    @*  index *@
     @RenderBody()
   

    @* footer *@
    @await Html.PartialAsync("_Footer")
    <
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
                $(document).ready(function () {
            $(".search-story").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/SearchSuggestions",
                        method: "GET",
                        data: { query: request.term },
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.title, // Hiển thị tiêu đề trong gợi ý
                                    value: item.title, // Giá trị khi chọn
                                    id: item.storyId   // ID để tạo link
                                };
                            }));
                        },
                        error: function (xhr, status, error) {
                            console.error("Error fetching suggestions:", error);
                            response([]);
                        }
                    });
                },
                minLength: 1, // Bắt đầu tìm kiếm từ 1 ký tự
                select: function (event, ui) {
                    // Chuyển hướng đến trang chi tiết khi chọn gợi ý
                    window.location.href = "/Home/Details/" + ui.item.id;
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>